<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>Four Friends</title>
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="styles/calendar.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <script>
    $( function() {
      $('td').click(function() {
        $(this).toggleClass("selected-cell");

        if ($('.selected-cell').length >= 1) {
          $('.btn-success').css({ opacity: 1 });
        }
        else {
          $('.btn-success').css({ opacity: 0 });
        }
        
        if ($('.leftalign', this).css('opacity') == 0) {
          $('.leftalign', this).css({ opacity: 1 });
        }
        else {
          $('.leftalign', this).css({ opacity: 0 });
        }
      });
    });
  </script>
</head>

<body>
  <div class="container">
    <div class="row vertical-center-row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <!--<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Choose when you're <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;available<br><font size="200">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to chill.</font></h1>-->
        <h1>Choose your available time slots.</h1>
        <a id="done" href="/result"><button type="button" class="btn btn-success">Done!</button></a>
      </div>
      <div class="col-sm-5">
        <table class="center">
          <thead>
           <tr>
            <th>10/11/15</th>
          </tr>
        </thead>
        <tbody>
          <tr>
           <td><div class="leftalign">&#10148;</div>9:00 AM</td>
         </tr>
         <tr>
           <td><div class="leftalign">&#10148;</div>10:00 AM</td>
         </tr>
         <tr>
           <td><div class="leftalign">&#10148;</div>11:00 AM</td>
         </tr>
         <tr>
           <td><div class="leftalign">&#10148;</div>12:00 PM</td>
         </tr>
         <tr>
           <td><div class="leftalign">&#10148;</div>1:00 PM</td>
         </tr>
         <tr>
           <td><div class="leftalign">&#10148;</div>2:00 PM</td>
         </tr>
         <tr>
           <td><div class="leftalign">&#10148;</div>3:00 PM</td>
         </tr>
         <tr>
           <td><div class="leftalign">&#10148;</div>4:00 PM</td>
         </tr>
         <tr>
           <td><div class="leftalign">&#10148;</div>5:00 PM</td>
         </tr>
         <tr>
           <td><div class="leftalign">&#10148;</div>6:00 PM</td>
         </tr>
         <tr>
           <td><div class="leftalign">&#10148;</div>7:00 PM</td>
         </tr>
         <tr>
           <td><div class="leftalign">&#10148;</div>8:00 PM</td>
         </tr>
         <tr>
           <td><div class="leftalign">&#10148;</div>9:00 PM</td>
         </tr>
       </tbody>
     </table>
   </div>
   <div class="col-sm-1"></div>
 </div>
 <!--<a id="done" href="/result"><button type="button" class="btn btn-success">Done!</button></a>-->
</div>
</div>
</body>
</html>

