<!DOCTYPE html>
<html lang='en'>
	<head>
	</head>
	<body>
	something
		<form action="/submit" method="post">
			Name: <input type="text" name="name"><br>
			Another field: <input type="text" name="someField"><br>
			<input type="submit" value="Submit">

		</form>
	</body>
</html>
	




