
<!DOCTYPE html>
<!-- <html lang='en'>
	<head>
	</head>
	<body>
	something
		<form action="/submit" method="post">
			Name: <input type="text" name="name"><br>
			Schedule: <input type="text" name="schedule"><br>
			<input type="submit" value="Submit"></input> -->
			<!--<button type="retrieve" value="Retrieve">Mystery button</button>-->
			<!-- <a href="/retrieve">what does this do</a>
		</form>
	</body>
</html> -->
<html='en'>
<head>

</head>
<body>

	<script src="../public/scripts/calendar.py"></script>
</body>
</html>