<!DOCTYPE html>
<html lang="en">
	<head>
	 	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <title>Four Friends</title>
	    <!-- Bootstrap -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	    <link rel="stylesheet" href="styles/formatting.css">
	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>	

	<body>
		<h1 class="result">Four Friends</h1>
		<!--<h3 class="result">Meeting time: 6PM</h3>-->
		
			<div class="row result-row">
				<div class="col-sm-2"></div>
				<div class="col-sm-4 result-user">
					<div class="row result-user-pic"><img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/11898600_1170202379662307_2656718500606325650_n.jpg?oh=989f37b9075e1ad022d1782a871c4254&oe=569464C6" class="img-circle"/></div>
					<h3>Jayendra Jog</h3>
					<div class="event-time">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 3:00PM - 4:00PM
                    </div>
                    <div class="event-location">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>  Baskin Robbins
                    </div>
				</div>
  				<div class="col-sm-4">
  					<div class="row result-friend">
  						<div class="row result-friend-pic"><img src="https://scontent-sjc2-1.xx.fbcdn.net/hprofile-xpf1/t31.0-1/11908913_1187877237905111_9047146295976445899_o.jpg" class="img-circle"/></div>
						<h4>Andy Lin</h4>
  					</div>
  					<div class="row result-friend">
  						<div class="row result-friend-pic"><img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/11407208_639682896133724_3188209784392134352_n.jpg?oh=4221d85cd6af24e20399d735b706fe1c&oe=56955B5D" class="img-circle"/></div>
						<h4>Anthony Lai</h4>
  					</div>
  					<div class="row result-friend">
  						<div class="row result-friend-pic"><img src="images/helen.jpg" class="img-circle"/></div>
						<h4>Helen Lee</h4>
  					</div>
  					<div class="row result-friend">
  						<div class="row result-friend-pic"><img src="images/rhee.jpg" class="img-circle"/></div>
						<h4>Josephine Rhee</h4>
  					</div>
  				</div>
  				<div class="col-sm-2"></div>
			</div>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	    <script src="scripts/theScript1.js"></script>

	</body>
</html>